body {
  margin: 0px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.2rem;
}

.logo-and-nav-wrapper {
}

.station-logo-bar {
  height: 85px;
  background-color: cornflowerblue;
  padding: 10px;
}

.station-logo-bar > img {
  height: 95%;
  padding: 5px;
}

.nav-bar {
  height: 30px;
  color: white;
  background-color: rgb(37, 69, 129);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 300px 5px 30px;
}
